@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.card-body{
background-color: #343a40;
color: white;
}

.container-fluid {
    margin-top: 20px
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.40rem
}

.img-sm {
    width: 50px;
    height: 50px
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px
}

.table-shopping-cart .price-wrap {
    line-height: 1.2
}

.table-shopping-cart .price {
    font-weight: bold;
    margin-right: 5px;
    display: block
}

.text-head {
    color: #ffffff !important;
    background-color: #343a40;
}

a {
    text-decoration: none !important
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0px
}

.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.dlist-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

[class*="dlist-"] {
    margin-bottom: 5px
}

.coupon {
    border-radius: 1px
}

.price {
    font-weight: 600;
    color: #000000;
}

.btn.btn-out {
    outline: 1px solid #fff;
    outline-offset: -5px
}

.btn-light {
    color: #ffffff;
    background-color:#F44336;
    border-color: #f8f9fa;
    font-size: 12px
}

.btn-light:hover {
    color: #ffffff;
    background-color: #F44336;
    border-color: #F44336
}

.btn-apply {
    font-size: 11px
}

.card{
    text-align: center;
}

.categ{
    background-color: rgba(0,0,0,.03);
}

.text-muted{
    color: black !important;
}

.list-group-item:hover{
    transform: scale(1.0) !important;
}

.aside1{
    bottom: 1000% !important;
}

.total{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}

.card-header{
    background-color: #343a40 !important;
    color: white;
}