body {
    background: #007bff;
    background: linear-gradient(to right, #41ebb2, #ffffff);
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  
  h5 {
    padding-left: 13%;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    color: #3c3c3d;
    text-decoration: underline;
  }

  img{
    left: 150px;
    height: 130px;
  }

  .card-body{
    background-color: rgb(252, 247, 247);
  }

  .ima{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .form{
    text-align: center;
  }

  