input[type = "radio"]{ 
    display:none;
    }
    #form {
        width: 250px;
        margin: 0 auto;
        height: 50px;
      }
      
      #form p {
        float: right;
      }
      
      #form label {
        font-size: 80px;
      }
      
      input[type="radio"] {
        display: none;
      }
      
      label {
        color: grey;
      }
      
      .clasificacion {
        direction: rtl;
        unicode-bidi: bidi-override;
        font-size: 25px;
      }
      
      label:hover,
      label:hover ~ label {
        color: orange;
      }
      
      input[type="radio"]:checked ~ label {
        color: orange;
      }

      div.justified {
        display: flex;
        justify-content: center;
    }

    div.stars{
        display: flex;
        justify-content: center;
    }
    div.butt{
      display: flex;
      justify-content: center;
  }

  #user{
    background-color: rgb(245, 235, 215);
    text-align: center;
    padding-top: 9px!important;
    padding-bottom: 9px!important;
  }

  div.comentarios{
    background-color: aqua;
  }

  .checked {
    color: orange;
  }

  .stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
  }
  
  .stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
  }
  
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
  
  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
  }

  #comm {
    text-align: center;
    margin-top: 40px;
  }

  #cards {
    display: inline-block;
  }
  
  .card-title {
    text-align: center;
  }
  
  .vermas {
    margin-top: 10%;
  }
  
  .related {
    text-align: center;
  }
  
  .prodRel {
    text-align: center;
    margin: 20px;
    margin-top: 40px;
  }
  
  .imgCart {
    size: 10px;
  }
  